App_WebReferences/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Saludo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaludoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaludoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechaHora">
        <s:complexType />
      </s:element>
      <s:element name="FechaHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechaHoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fecha">
        <s:complexType />
      </s:element>
      <s:element name="fechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hora">
        <s:complexType />
      </s:element>
      <s:element name="horaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="maquina">
        <s:complexType />
      </s:element>
      <s:element name="maquinaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maquinaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaludoSoapIn">
    <wsdl:part name="parameters" element="tns:Saludo" />
  </wsdl:message>
  <wsdl:message name="SaludoSoapOut">
    <wsdl:part name="parameters" element="tns:SaludoResponse" />
  </wsdl:message>
  <wsdl:message name="FechaHoraSoapIn">
    <wsdl:part name="parameters" element="tns:FechaHora" />
  </wsdl:message>
  <wsdl:message name="FechaHoraSoapOut">
    <wsdl:part name="parameters" element="tns:FechaHoraResponse" />
  </wsdl:message>
  <wsdl:message name="fechaSoapIn">
    <wsdl:part name="parameters" element="tns:fecha" />
  </wsdl:message>
  <wsdl:message name="fechaSoapOut">
    <wsdl:part name="parameters" element="tns:fechaResponse" />
  </wsdl:message>
  <wsdl:message name="horaSoapIn">
    <wsdl:part name="parameters" element="tns:hora" />
  </wsdl:message>
  <wsdl:message name="horaSoapOut">
    <wsdl:part name="parameters" element="tns:horaResponse" />
  </wsdl:message>
  <wsdl:message name="maquinaSoapIn">
    <wsdl:part name="parameters" element="tns:maquina" />
  </wsdl:message>
  <wsdl:message name="maquinaSoapOut">
    <wsdl:part name="parameters" element="tns:maquinaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Saludo">
      <wsdl:input message="tns:SaludoSoapIn" />
      <wsdl:output message="tns:SaludoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <wsdl:input message="tns:FechaHoraSoapIn" />
      <wsdl:output message="tns:FechaHoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <wsdl:input message="tns:fechaSoapIn" />
      <wsdl:output message="tns:fechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hora">
      <wsdl:input message="tns:horaSoapIn" />
      <wsdl:output message="tns:horaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="maquina">
      <wsdl:input message="tns:maquinaSoapIn" />
      <wsdl:output message="tns:maquinaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saludo">
      <soap:operation soapAction="http://tempuri.org/Saludo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <soap:operation soapAction="http://tempuri.org/FechaHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <soap:operation soapAction="http://tempuri.org/fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hora">
      <soap:operation soapAction="http://tempuri.org/hora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maquina">
      <soap:operation soapAction="http://tempuri.org/maquina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saludo">
      <soap12:operation soapAction="http://tempuri.org/Saludo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaHora">
      <soap12:operation soapAction="http://tempuri.org/FechaHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fecha">
      <soap12:operation soapAction="http://tempuri.org/fecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hora">
      <soap12:operation soapAction="http://tempuri.org/hora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="maquina">
      <soap12:operation soapAction="http://tempuri.org/maquina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2400/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2400/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>